In [5]:
import swan_vis as swan
import scanpy as sc

In [2]:
sg = swan.read('/Users/fairliereese/mortazavi_lab/data/rnawg/lr_bulk/swan/swan.p')

Read in graph from /Users/fairliereese/mortazavi_lab/data/rnawg/lr_bulk/swan/swan.p

In [3]:
sg.adata.obs.head()

                 dataset
gm12878_1_1  gm12878_1_1
gm12878_1_2  gm12878_1_2
gm12878_1_3  gm12878_1_3
gm12878_1_4  gm12878_1_4
gm12878_3_1  gm12878_3_1

In [4]:
sg.adata.var.head()

                                 tid
tid
ENCODEHT000206785  ENCODEHT000206785
ENCODEHT000206831  ENCODEHT000206831
ENCODEHT000206867  ENCODEHT000206867
ENCODEHT000206868  ENCODEHT000206868
ENCODEHT000206870  ENCODEHT000206870

In [11]:
adata = sc.read('/Users/fairliereese/mortazavi_lab/data/mousewg/hippocampus/lr_splitseq/scanpy/transcript_processed.h5ad')

In [12]:
adata.obs.head()

,bc,bc3_long,bc2_long,bc1_long,experiment,sr_umi_count,sr_gene_count,Unnamed: 0,cell_barcode,sr_celltype,...,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt,leiden,lr_celltype,umap_x,umap_y,n_genes,n_counts
bc_index,,,,,,,,,,,,,,,,,,,,,
AAACATCGAACCGAGAATTCATGG-ont_a,AAACATCGAACCGAGAATTCATGG,AAACATCG,AACCGAGA,ATTCATGG,ont_a,41.0,39.0,665.0,AAACATCGAACCGAGA_8,Exc. Neuron,...,70,211.0,0.0,0.0,L6,Exc. Neuron,12.715929,-1.627943,70,211.0
AAACATCGAACCGAGAATTCATGG-pb_a,AAACATCGAACCGAGAATTCATGG,AAACATCG,AACCGAGA,ATTCATGG,pb_a,41.0,39.0,665.0,AAACATCGAACCGAGA_8,Exc. Neuron,...,13,33.0,0.0,0.0,L2,Exc. Neuron,10.345781,1.028104,13,33.0
AAACATCGAACGCTTATACTCGAA-ont_b,AAACATCGAACGCTTATACTCGAA,AAACATCG,AACGCTTA,TACTCGAA,ont_b,NaN,NaN,NaN,NaN,NaN,...,14,21.0,0.0,0.0,L17,Vascular + endothelial,10.930988,13.045471,14,21.0
AAACATCGAACGTGATACTATATA-ont_a,AAACATCGAACGTGATACTATATA,AAACATCG,AACGTGAT,ACTATATA,ont_a,48.0,46.0,NaN,NaN,NaN,...,20,34.0,0.0,0.0,L1,Astrocyte,-5.870996,-1.726015,20,34.0
AAACATCGACAAGCTAGAGCACAA-ont_b,AAACATCGACAAGCTAGAGCACAA,AAACATCG,ACAAGCTA,GAGCACAA,ont_b,NaN,NaN,NaN,NaN,NaN,...,51,90.0,0.0,0.0,L1,Astrocyte,-5.305627,-1.920617,51,90.0

In [13]:
adata.var.head()

,annot_transcript_id,annot_gene_id,annot_gene_name,transcript_novelty,mt,n_cells_by_counts,mean_counts,pct_dropout_by_counts,total_counts
annot_transcript_name,,,,,,,,,
ENCODEMT000142472,ENCODEMT000142472,ENSMUSG00000020671.9,Rab10,NIC,False,1,0.000165,99.983468,1.0
ENCODEMT000144512,ENCODEMT000144512,ENSMUSG00000040374.13,Pex2,NIC,False,1,0.000331,99.983468,2.0
ENCODEMT000144928,ENCODEMT000144928,ENSMUSG00000096054.3,Syne1,NNC,False,2,0.000331,99.966937,2.0
ENCODEMT000145365,ENCODEMT000145365,ENSMUSG00000019772.5,Vip,NNC,False,1,0.000496,99.983468,3.0
ENCODEMT000145637,ENCODEMT000145637,ENSMUSG00000059734.7,Ndufs8,NIC,False,1,0.000165,99.983468,1.0

In [14]:
adata.obs.index.name = 'dataset'
adata.var.reset_index(inplace=True)
adata.var.set_index('annot_transcript_id', inplace=True)
adata.var.index.name = 'tid'

In [15]:
adata.var.head()

,annot_transcript_name,annot_gene_id,annot_gene_name,transcript_novelty,mt,n_cells_by_counts,mean_counts,pct_dropout_by_counts,total_counts
tid,,,,,,,,,
ENCODEMT000142472,ENCODEMT000142472,ENSMUSG00000020671.9,Rab10,NIC,False,1,0.000165,99.983468,1.0
ENCODEMT000144512,ENCODEMT000144512,ENSMUSG00000040374.13,Pex2,NIC,False,1,0.000331,99.983468,2.0
ENCODEMT000144928,ENCODEMT000144928,ENSMUSG00000096054.3,Syne1,NNC,False,2,0.000331,99.966937,2.0
ENCODEMT000145365,ENCODEMT000145365,ENSMUSG00000019772.5,Vip,NNC,False,1,0.000496,99.983468,3.0
ENCODEMT000145637,ENCODEMT000145637,ENSMUSG00000059734.7,Ndufs8,NIC,False,1,0.000165,99.983468,1.0

In [16]:
adata.obs.head()

,bc,bc3_long,bc2_long,bc1_long,experiment,sr_umi_count,sr_gene_count,Unnamed: 0,cell_barcode,sr_celltype,...,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt,leiden,lr_celltype,umap_x,umap_y,n_genes,n_counts
dataset,,,,,,,,,,,,,,,,,,,,,
AAACATCGAACCGAGAATTCATGG-ont_a,AAACATCGAACCGAGAATTCATGG,AAACATCG,AACCGAGA,ATTCATGG,ont_a,41.0,39.0,665.0,AAACATCGAACCGAGA_8,Exc. Neuron,...,70,211.0,0.0,0.0,L6,Exc. Neuron,12.715929,-1.627943,70,211.0
AAACATCGAACCGAGAATTCATGG-pb_a,AAACATCGAACCGAGAATTCATGG,AAACATCG,AACCGAGA,ATTCATGG,pb_a,41.0,39.0,665.0,AAACATCGAACCGAGA_8,Exc. Neuron,...,13,33.0,0.0,0.0,L2,Exc. Neuron,10.345781,1.028104,13,33.0
AAACATCGAACGCTTATACTCGAA-ont_b,AAACATCGAACGCTTATACTCGAA,AAACATCG,AACGCTTA,TACTCGAA,ont_b,NaN,NaN,NaN,NaN,NaN,...,14,21.0,0.0,0.0,L17,Vascular + endothelial,10.930988,13.045471,14,21.0
AAACATCGAACGTGATACTATATA-ont_a,AAACATCGAACGTGATACTATATA,AAACATCG,AACGTGAT,ACTATATA,ont_a,48.0,46.0,NaN,NaN,NaN,...,20,34.0,0.0,0.0,L1,Astrocyte,-5.870996,-1.726015,20,34.0
AAACATCGACAAGCTAGAGCACAA-ont_b,AAACATCGACAAGCTAGAGCACAA,AAACATCG,ACAAGCTA,GAGCACAA,ont_b,NaN,NaN,NaN,NaN,NaN,...,51,90.0,0.0,0.0,L1,Astrocyte,-5.305627,-1.920617,51,90.0

In [37]:
sg = swan.SwanGraph()

annot = '/Users/fairliereese/mortazavi_lab/data/mousewg/refs/gencode.vM21.primary_assembly.annotation_UCSC_names.gtf'
gtf = '/Users/fairliereese/mortazavi_lab/data/mousewg/lr_bulk/talon/mouse_all_known_nic_nnc_talon.gtf'

sg.add_annotation(annot, verbose=True)
sg.add_transcriptome(gtf, verbose=True)

Adding annotation to the SwanGraph

Processing transcripts: 100%|█████████▉| 141800/141862 [01:12<00:00, 1952.16it/s]

Reindexing and sorting entries on genomic location...

Reindexing vertices: 100%|█████████▉| 754000/754537 [00:00<00:00, 977718.93it/s]
Reindexing edges:  97%|█████████▋| 730000/754537 [00:00<00:00, 806259.21it/s]

Annotation added to the SwanGraph

Adding transcriptome to the SwanGraph

Processing transcripts: 100%|█████████▉| 153400/153419 [01:10<00:00, 2161.39it/s]

Reindexing and sorting entries on genomic location...

Reindexing vertices: 100%|█████████▉| 762000/762130 [00:00<00:00, 993769.98it/s]
Reindexing edges:  98%|█████████▊| 745000/762130 [00:01<00:00, 738980.93it/s]

Transcriptome added to the SwanGraph

AttributeError: 'SwanGraph' object has no attribute 'write'

In [39]:
sg.save_graph('test_mousewg')

Saving graph as test_mousewg.p

In [24]:
adata = sc.read('/Users/fairliereese/mortazavi_lab/data/mousewg/adrenal/lr_splitseq/scanpy/transcript_processed.h5ad')

In [26]:
adata.var.reset_index(inplace=True)
adata.var.set_index('annot_transcript_id', inplace=True)
adata.var.index.name = 'tid'
adata.var.head()

,annot_transcript_name,annot_gene_id,annot_gene_name,transcript_novelty,mt,n_cells_by_counts,mean_counts,pct_dropout_by_counts,total_counts
tid,,,,,,,,,
ENCODEMT000142671,ENCODEMT000142671,ENSMUSG00000063889.16,Crem,NIC,False,1,0.000399,99.960064,1.0
ENCODEMT000144512,ENCODEMT000144512,ENSMUSG00000040374.13,Pex2,NIC,False,1,0.000399,99.960064,1.0
ENCODEMT000145637,ENCODEMT000145637,ENSMUSG00000059734.7,Ndufs8,NIC,False,1,0.000399,99.960064,1.0
ENCODEMT000147256,ENCODEMT000147256,ENSMUSG00000045573.9,Penk,NNC,False,4,0.001997,99.840256,5.0
ENCODEMT000151946,ENCODEMT000151946,ENSMUSG00000096255.2,Dynlt1b,NIC,False,1,0.000399,99.960064,1.0

In [28]:
adata.obs.index.name = 'dataset'
adata.obs.head()

,bc,bc3_long,bc2_long,bc1_long,experiment,sr_umi_count,sr_gene_count,Unnamed: 0,cellID,sr_clusters,...,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt,leiden,lr_celltype,umap_x,umap_y,n_genes,n_counts
dataset,,,,,,,,,,,,,,,,,,,,,
AAACATCGAACCGAGACTGTCCCG-ont_b,AAACATCGAACCGAGACTGTCCCG,AAACATCG,AACCGAGA,CTGTCCCG,ont_b,NaN,NaN,NaN,NaN,NaN,...,28,61.0,5.0,8.196721,L9,X-Zone,8.509377,8.825970,28,61.0
AAACATCGAAGACGGAAGCGAAAC-ont_b,AAACATCGAAGACGGAAGCGAAAC,AAACATCG,AAGACGGA,AGCGAAAC,ont_b,NaN,NaN,NaN,NaN,NaN,...,40,91.0,0.0,0.000000,L1,Cortex_ZF,13.440162,5.323537,40,91.0
AAACATCGAAGGACACCTGTCCCG-pb_2ka,AAACATCGAAGGACACCTGTCCCG,AAACATCG,AAGGACAC,CTGTCCCG,pb_2ka,10119.0,4010.0,301.0,AAACATCGAAGGACAC_14.ENCLB593HHL,3.0,...,53,83.0,2.0,2.409638,L5,Medulla_EPI,4.639245,17.013636,53,83.0
AAACATCGAATCCGTCAGCGAAAC-ont_b,AAACATCGAATCCGTCAGCGAAAC,AAACATCG,AATCCGTC,AGCGAAAC,ont_b,NaN,NaN,NaN,NaN,NaN,...,60,126.0,4.0,3.174603,L2,Adipocytes,5.295306,11.376595,60,126.0
AAACATCGACGTATCAGTTACGTA-ont_b,AAACATCGACGTATCAGTTACGTA,AAACATCG,ACGTATCA,GTTACGTA,ont_b,NaN,NaN,NaN,NaN,NaN,...,33,114.0,8.0,7.017544,L0,Cortex_ZG,13.883456,6.713534,33,114.0

In [52]:
sg = swan.read('test_mousewg.p')
add_h5ad(sg, adata)

Trying to set attribute `.obs` of view, copying.

Read in graph from test_mousewg.p

Adding abundance for datasets AAACATCGAACCGAGACTGTCCCG-ont_b, AAACATCGAAGACGGAAGCGAAAC-ont_b, AAACATCGAAGGACACCTGTCCCG-pb_2ka, AAACATCGAATCCGTCAGCGAAAC-ont_b, AAACATCGACGTATCAGTTACGTA-ont_b... (and 2413 more) to SwanGraph
calculating tpm

ValueError: Shape of passed values is (2418, 1), indices imply (2418, 22262)

In [51]:
def add_h5ad(sg, adata):
    """
    Adds abundance and metadata from an h5ad file to the SwanGraph. Transcripts
    in the SwanGraph but not in the h5ad file will be assigned 0 counts.
    Transcripts in the h5ad but not in the SwanGraph will not be added.
    
    Parameters:
        fname (str): Path to h5ad file.
            Var table should have the transcript id ('tid') as the index
            Obs table should have the dataset ('dataset') as the index
    """
    
#     # read in h5ad file
#     swan.check_file_loc(fname, 'h5ad')
#     try:
#         adata = sc.read(fname)
#     except:
#         raise ValueError('Problem reading h5ad {}'.format(counts_file))
        
    # limit to just the transcripts already in the graph
    sg_tids = sg.t_df.tid.tolist()
    ab_tids = adata.var.index.tolist()
    tids = list(set(sg_tids)&(set(ab_tids)))

    # remove entries in the adata that aren't already in the SwanGraph
    adata = adata[:, tids]
    
    # double index obs and var
    adata.obs['dataset'] = adata.obs.index.tolist()
    adata.var['tid'] = adata.var.index.tolist()
    
    # for transcripts that aren't already in the adata, add them as 0 counts 
    # Or actually maybe not for now
    # HAVE to use outer join for concatenating adatas though! 
    
    concat_adata(sg, adata)

In [49]:
def concat_adata(sg, adata):
    """
    Once we have an anndata object (either generated from a flat counts file
    or from an h5ad file), add the abundance from it to the SwanGraph.
    
    Parameters:
        adata (anndata AnnData): AnnData from add_abundance or add_h5ad.
    """
    
    # add each dataset to list of "datasets", check if any are already there!
    datasets = adata.obs.index.tolist()
    for d in datasets:
        if d in sg.datasets:
            raise ValueError('Dataset {} already present in the SwanGraph.'.format(d))
    sg.datasets.extend(datasets)
    
    print()
    if len(datasets) <= 5:
        print('Adding abundance for datasets {} to SwanGraph.'.format(', '.join(datasets)))
    else:
        mini_datasets = datasets[:5]
        n = len(datasets) - len(mini_datasets)
        print('Adding abundance for datasets {}... (and {} more) to SwanGraph'.format(', '.join(mini_datasets), n))
    
    
    # if there is preexisting abundance data in the SwanGraph, concatenate
    # otherwise, adata is the new transcript level adata
    if not sg.has_abundance():

        # create transcript-level adata object
        sg.adata = adata

        # add counts as layers
        sg.adata.layers['counts'] = sg.adata.X
        print('calculating tpm')
        sg.adata.layers['tpm'] = swan.calc_tpm(sg.adata, sg.t_df).to_numpy()

        # could probably parallelize calc_pi
        if not sg.sc:
            sg.adata.layers['pi'] = swan.calc_pi(sg.adata, sg.t_df)[0].to_numpy()
    else:
        sg.adata = sg.adata.concat(adata, join='outer')
#         # concatenate the raw, tpm, and pi data
#         X = np.concatenate((sg.adata.layers['counts'], X), axis=0)

#         # concatenate obs
#         obs = pd.concat([sg.adata.obs, obs], axis=0)

#         # construct a new adata from the concatenated objects
#         adata = anndata.AnnData(var=var, obs=obs, X=X)
#         adata.layers['counts'] = X

#         # some cleanup for unstructured data
#         adata.uns = sg.adata.uns

#         # set anndata to new guy
#         sg.adata = adata

        # recalculate pi and tpm
        sg.adata.layers['tpm'] = swan.calc_tpm(sg.adata, sg.t_df).to_numpy()

        if not sg.sc:
            sg.adata.layers['pi'] = swan.calc_pi(sg.adata, sg.t_df)[0].to_numpy()


    # add abundance for edges, TSS per gene, and TES per gene
    # print('adding edge abundance')
    # sg.create_edge_adata()
    print('adding tss abundance')
    swan.create_end_adata(sg, kind='tss')
    print('adding tes abundance')
    swan.create_end_adata(sg, kind='tes')

    # set abundance flag to true
    sg.abundance = True

In [21]:
def add_abundance(self, counts_file):
    """
    Adds abundance from a counts matrix to the SwanGraph. Transcripts in the
    SwanGraph but not in the counts matrix will be assigned 0 counts.
    Transcripts in the abundance matrix but not in the SwanGraph will not
    have expression added.

    Parameters:
        counts_file (str): Path to TSV expression file where first column is
            the transcript ID and following columns name the added datasets and
            their counts in each dataset, OR to a TALON abundance matrix.
    """

    # read in abundance file
    check_file_loc(counts_file, 'abundance matrix')
    try:
        df = pd.read_csv(counts_file, sep='\t')
    except:
        raise ValueError('Problem reading expression matrix {}'.format(counts_file))

    # check if abundance matrix is a talon abundance matrix
    cols = ['gene_ID', 'transcript_ID', 'annot_gene_id', 'annot_transcript_id',
        'annot_gene_name', 'annot_transcript_name', 'n_exons', 'length',
        'gene_novelty', 'transcript_novelty', 'ISM_subtype']
    if df.columns.tolist()[:11] == cols:
        df = reformat_talon_abundance(counts_file)

    # rename transcript ID column
    col = df.columns[0]
    df.rename({col: 'tid'}, axis=1, inplace=True)

    # limit to just the transcripts already in the graph
    sg_tids = sg.t_df.tid.tolist()
    ab_tids = df.tid.tolist()

    # right merge to keep everything in the t_df already
    df = df.merge(sg.t_df['tid'].to_frame(), how='right', left_on='tid', right_index=True)
    df.drop(['tid_x', 'tid_y'], axis=1, inplace=True)

    # fill NaNs with 0 counts
    df.fillna(0, inplace=True)
    df.set_index('tid', inplace=True)

    # transpose to get adata format
    df = df.T

    # get adata components - obs, var, and X
    var = df.columns.to_frame()
    var.columns = ['tid']
    obs = df.index.to_frame()
    obs.columns = ['dataset']
    X = df.to_numpy()

    adata = anndata.AnnData(var=var, obs=obs, X=X)
    
    sg.concat_adata(sg, adata)