In [1]:
import swan_vis as swan
import pandas as pd
import anndata
import numpy as np

/Users/fairliereese/miniconda3/lib/python3.7/site-packages/anndata/_core/anndata.py:21: FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classes are available in the top-level namespace.
  from pandas.core.index import RangeIndex

#### test - calc PI for a condition that is not 'dataset'

#### test - add abundance and then more abundance and calc pi (in add_abundance)

In [2]:
sg = swan.SwanGraph()
# just gencode vM21 chr 11 and tcf3
gtf = 'data/chr11_and_Tcf3.gtf'
sg.add_annotation(gtf, verbose=True)
db = 'data/chr11_and_Tcf3_no_gname.db'
sg.add_transcriptome(db, include_isms=True)
ab = 'data/chr11_and_Tcf3_talon_abundance_PB65.tsv'
sg.add_abundance(ab)
ab = 'data/chr11_and_Tcf3_talon_abundance_D12.tsv'
sg.add_abundance(ab)
meta = 'data/chr11_and_Tcf3_metadata.tsv'
sg.add_metadata(meta)

Adding annotation to the SwanGraph

Processing transcripts:  99%|█████████▉| 8400/8450 [00:01<00:00, 4252.42it/s]

Reindexing and sorting entries on genomic location...

Reindexing vertices: 100%|█████████▉| 50000/50074 [00:00<00:00, 996830.53it/s]
Reindexing edges:  98%|█████████▊| 49000/50074 [00:00<00:00, 632364.20it/s]
Reindexing transcripts:  99%|█████████▉| 8400/8450 [00:00<00:00, 155584.69it/s]

Annotation to the SwanGraph

Adding transcriptome to the SwanGraph

AnnData expects .obs.index to contain strings, but your first indices are: Int64Index([0, 1], dtype='int64'), …

Adding abundance for datasets PB65_B017, PB65_B018 to SwanGraph.

Adding abundance for datasets D12 to SwanGraph.

In [3]:
# test
df = pd.DataFrame(data=sg.adata.layers['pi'], \
                  columns=sg.adata.var.index.tolist(), \
                  index=sg.adata.obs.index.tolist())
df = df.transpose()
df.index.name = 'tid'
df.sort_values(by='tid', inplace=True)
df

# ctrl
ctrl = pd.read_csv('data/chr11_and_Tcf3_talon_abundance_pi.tsv', sep='\t')
ctrl.set_index('tid', inplace=True)
ctrl.sort_values(by='tid', inplace=True)
ctrl

ctrl == df

                        PB65_B017  PB65_B018   D12
tid
ENCODE-mouseT000008451       True       True  True
ENCODE-mouseT000008452       True       True  True
ENCODE-mouseT000008453       True       True  True
ENCODE-mouseT000008454       True       True  True
ENCODE-mouseT000008455       True       True  True
ENCODE-mouseT000008456       True       True  True
ENCODE-mouseT000008457       True       True  True
ENCODE-mouseT000008458       True       True  True
ENCODE-mouseT000008459       True       True  True
ENCODE-mouseT000008460       True       True  True
ENCODE-mouseT000008461       True       True  True
ENCODE-mouseT000008462       True       True  True
ENSMUST00000020637.8         True       True  True
ENSMUST00000020741.10        True       True  True
ENSMUST00000105344.6         True       True  True

#### test - calculate percent iso expression per gene (in add_abundance)

In [6]:
sg = swan.SwanGraph()
# just gencode vM21 chr 11 and tcf3
gtf = 'data/chr11_and_Tcf3.gtf'
sg.add_annotation(gtf, verbose=True)
db = 'data/chr11_and_Tcf3_no_gname.db'
sg.add_transcriptome(db, include_isms=True)
ab = 'data/chr11_and_Tcf3_talon_abundance.tsv'
sg.add_abundance(ab)
meta = 'data/chr11_and_Tcf3_metadata.tsv'
sg.add_metadata(meta)

Adding annotation to the SwanGraph

Processing transcripts:  99%|█████████▉| 8400/8450 [00:01<00:00, 4419.91it/s]

Reindexing and sorting entries on genomic location...

Reindexing vertices: 100%|█████████▉| 50000/50074 [00:00<00:00, 1207056.48it/s]
Reindexing edges:  98%|█████████▊| 49000/50074 [00:00<00:00, 650835.70it/s]
Reindexing transcripts:  99%|█████████▉| 8400/8450 [00:00<00:00, 152955.84it/s]

Annotation to the SwanGraph

Adding transcriptome to the SwanGraph

AnnData expects .obs.index to contain strings, but your first indices are: Int64Index([0, 1], dtype='int64'), …

Adding abundance for datasets PB65_B017, PB65_B018, D12 to SwanGraph.
                          D12  PB65_B017  PB65_B018
tid
ENCODE-mouseT000008451  100.0       75.0       50.0
ENCODE-mouseT000008452    0.0       25.0        0.0
ENSMUST00000105344.6      0.0        0.0       50.0
ENCODE-mouseT000008453    0.0       50.0      100.0
ENSMUST00000020741.10     0.0       50.0        0.0
ENCODE-mouseT000008454    0.0      100.0        0.0
ENCODE-mouseT000008455    0.0      100.0        0.0
ENCODE-mouseT000008456  100.0        0.0        0.0
ENCODE-mouseT000008457   25.0        0.0        0.0
ENCODE-mouseT000008458   25.0        0.0        0.0
ENCODE-mouseT000008459   25.0        0.0        0.0
ENCODE-mouseT000008460    0.0        0.0      100.0
ENCODE-mouseT000008461    0.0       50.0        0.0
ENCODE-mouseT000008462    0.0       50.0        0.0
ENSMUST00000020637.8     25.0        0.0        0.0
tid        ENCODE-mouseT000008451  ENCODE-mouseT000008452  \
PB65_B017                    75.0                    25.0
PB65_B018                    50.0                     0.0
D12                         100.0                     0.0

tid        ENCODE-mouseT000008453  ENCODE-mouseT000008454  \
PB65_B017                    50.0                   100.0
PB65_B018                   100.0                     0.0
D12                           0.0                     0.0

tid        ENCODE-mouseT000008455  ENCODE-mouseT000008456  \
PB65_B017                   100.0                     0.0
PB65_B018                     0.0                     0.0
D12                           0.0                   100.0

tid        ENCODE-mouseT000008457  ENCODE-mouseT000008458  \
PB65_B017                     0.0                     0.0
PB65_B018                     0.0                     0.0
D12                          25.0                    25.0

tid        ENCODE-mouseT000008459  ENCODE-mouseT000008460  \
PB65_B017                     0.0                     0.0
PB65_B018                     0.0                   100.0
D12                          25.0                     0.0

tid        ENCODE-mouseT000008461  ENCODE-mouseT000008462  \
PB65_B017                    50.0                    50.0
PB65_B018                     0.0                     0.0
D12                           0.0                     0.0

tid        ENSMUST00000020637.8  ENSMUST00000020741.10  ENSMUST00000105344.6
PB65_B017                   0.0                   50.0                   0.0
PB65_B018                   0.0                    0.0                  50.0
D12                        25.0                    0.0                   0.0

In [7]:
print(sg.adata.obs)
print(sg.adata.layers['pi'])

             dataset cluster   sample
index
PB65_B017  PB65_B017       2  GM12878
PB65_B018  PB65_B018       2  GM12878
D12              D12       1     K562
[[ 75.  25.  50. 100. 100.   0.   0.   0.   0.   0.  50.  50.   0.  50.
    0.]
 [ 50.   0. 100.   0.   0.   0.   0.   0.   0. 100.   0.   0.   0.   0.
   50.]
 [100.   0.   0.   0.   0. 100.  25.  25.  25.   0.   0.   0.  25.   0.
    0.]]

The following two should be equivalent

In [11]:
# df = pd.read_csv('data/chr11_and_Tcf3_talon_abundance_pi.tsv', sep='\t')
df = pd.DataFrame(data=sg.adata.layers['pi'], \
                  columns=sg.adata.var.index.tolist(), \
                  index=sg.adata.obs.index.tolist())
df = df.transpose()
df.index.name = 'tid'
df.sort_values(by='tid', inplace=True)
df

                        PB65_B017  PB65_B018    D12
tid
ENCODE-mouseT000008451       75.0       50.0  100.0
ENCODE-mouseT000008452       25.0        0.0    0.0
ENCODE-mouseT000008453       50.0      100.0    0.0
ENCODE-mouseT000008454      100.0        0.0    0.0
ENCODE-mouseT000008455      100.0        0.0    0.0
ENCODE-mouseT000008456        0.0        0.0  100.0
ENCODE-mouseT000008457        0.0        0.0   25.0
ENCODE-mouseT000008458        0.0        0.0   25.0
ENCODE-mouseT000008459        0.0        0.0   25.0
ENCODE-mouseT000008460        0.0      100.0    0.0
ENCODE-mouseT000008461       50.0        0.0    0.0
ENCODE-mouseT000008462       50.0        0.0    0.0
ENSMUST00000020637.8          0.0        0.0   25.0
ENSMUST00000020741.10        50.0        0.0    0.0
ENSMUST00000105344.6          0.0       50.0    0.0

In [12]:
# tests
ctrl = pd.read_csv('data/chr11_and_Tcf3_talon_abundance_pi.tsv', sep='\t')
ctrl.set_index('tid', inplace=True)
ctrl.sort_values(by='tid', inplace=True)
ctrl

                        PB65_B017  PB65_B018  D12
tid
ENCODE-mouseT000008451         75         50  100
ENCODE-mouseT000008452         25          0    0
ENCODE-mouseT000008453         50        100    0
ENCODE-mouseT000008454        100          0    0
ENCODE-mouseT000008455        100          0    0
ENCODE-mouseT000008456          0          0  100
ENCODE-mouseT000008457          0          0   25
ENCODE-mouseT000008458          0          0   25
ENCODE-mouseT000008459          0          0   25
ENCODE-mouseT000008460          0        100    0
ENCODE-mouseT000008461         50          0    0
ENCODE-mouseT000008462         50          0    0
ENSMUST00000020637.8            0          0   25
ENSMUST00000020741.10          50          0    0
ENSMUST00000105344.6            0         50    0

In [13]:
ctrl == df

                        PB65_B017  PB65_B018   D12
tid
ENCODE-mouseT000008451       True       True  True
ENCODE-mouseT000008452       True       True  True
ENCODE-mouseT000008453       True       True  True
ENCODE-mouseT000008454       True       True  True
ENCODE-mouseT000008455       True       True  True
ENCODE-mouseT000008456       True       True  True
ENCODE-mouseT000008457       True       True  True
ENCODE-mouseT000008458       True       True  True
ENCODE-mouseT000008459       True       True  True
ENCODE-mouseT000008460       True       True  True
ENCODE-mouseT000008461       True       True  True
ENCODE-mouseT000008462       True       True  True
ENSMUST00000020637.8         True       True  True
ENSMUST00000020741.10        True       True  True
ENSMUST00000105344.6         True       True  True

In [3]:
sg.adata.layers.keys()

KeysView(Layers with keys: counts, tpm, pi)

In [4]:
sg.adata.layers['pi']

array([[100.,   0.,   0.,   0., 100.,  25.,  25.,  25.,  25.,   0.,   0.],
       [100.,  50., 100., 100.,   0.,   0.,   0.,   0.,   0.,  50.,   0.],
       [ 50., 100.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,  50.]],
      dtype=float32)

In [56]:
# conditions = ['PB65_B017', 'PB65_B018', 'D12']
# cond = 'dataset'
cond = 'cluster'

# first set default assay to counts
sg.adata.X = sg.adata.layers['counts']

for g in sg.t_df.gid.unique():
    tids = sg.t_df.loc[sg.t_df.gid == g, 'tid'].tolist()
    temp = sg.adata[:, tids]
    temp = pd.DataFrame(data=temp.X, index=temp.obs[cond].tolist(), columns=temp.var.index.tolist())
    
    temp = temp.groupby(level=0).sum()
    conditions = temp.index.tolist()
    print(temp)
    temp = temp.transpose()
    
    # aggregate on conditions
    pi_cols = []
    for c in conditions:
        total_col = '{}_total'.format(c)
        pi_col = '{}_pi'.format(c)
        total_count = temp[c].sum()
        temp[total_col] = total_count
        temp[pi_col] = (temp[c]/temp[total_col])*100
        pi_cols.append(pi_col)
        
    # fill nans (no expression) with 0
    temp.fillna(0, inplace=True)
    
    # only pi columns
    temp = temp[pi_cols]

   ENCODE-mouseT000008451  ENSMUST00000105344.6
1                     2.0                   0.0
2                     4.0                   1.0
                         1_pi  2_pi
ENCODE-mouseT000008451  100.0  80.0
ENSMUST00000105344.6      0.0  20.0


   ENCODE-mouseT000008453  ENSMUST00000020741.10
1                     0.0                    0.0
2                     2.0                    1.0
                        1_pi       2_pi
ENCODE-mouseT000008453   0.0  66.666672
ENSMUST00000020741.10    0.0  33.333336


   ENCODE-mouseT000008454
1                     0.0
2                     1.0
                        1_pi   2_pi
ENCODE-mouseT000008454   0.0  100.0


   ENCODE-mouseT000008455
1                     0.0
2                     1.0
                        1_pi   2_pi
ENCODE-mouseT000008455   0.0  100.0


   ENCODE-mouseT000008456
1                     1.0
2                     0.0
                         1_pi  2_pi
ENCODE-mouseT000008456  100.0   0.0


   ENCODE-mouseT000008457  ENCODE-mouseT000008458  ENCODE-mouseT000008459  \
1                     1.0                     1.0                     1.0
2                     0.0                     0.0                     0.0

   ENSMUST00000020637.8
1                   1.0
2                   0.0
                        1_pi  2_pi
ENCODE-mouseT000008457  25.0   0.0
ENCODE-mouseT000008458  25.0   0.0
ENCODE-mouseT000008459  25.0   0.0
ENSMUST00000020637.8    25.0   0.0

/Users/fairliereese/miniconda3/lib/python3.7/site-packages/anndata/_core/anndata.py:1056: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  if not is_categorical(df_full[k]):
/Users/fairliereese/miniconda3/lib/python3.7/site-packages/anndata/_core/anndata.py:1056: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  if not is_categorical(df_full[k]):
/Users/fairliereese/miniconda3/lib/python3.7/site-packages/anndata/_core/anndata.py:1056: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  if not is_categorical(df_full[k]):
/Users/fairliereese/miniconda3/lib/python3.7/site-packages/anndata/_core/anndata.py:1056: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  if not is_categorical(df_full[k]):
/Users/fairliereese/miniconda3/lib/python3.7/site-packages/anndata/_core/anndata.py:1056: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  if not is_categorical(df_full[k]):
/Users/fairliereese/miniconda3/lib/python3.7/site-packages/anndata/_core/anndata.py:1056: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  if not is_categorical(df_full[k]):

In [128]:
# calc pi

cond = 'dataset'
df = pd.DataFrame(data=sg.adata.X, index=sg.adata.obs[cond].tolist(), columns=sg.adata.var.index.tolist())

# add up values on condition (row)
# print(df.head())
df = df.groupby(level=0).sum()
# print(df.head())
conditions = df.index.unique().tolist()
# print(conditions)
df = df.transpose()

# add gid 
df = df.merge(sg.t_df['gid'], how='left', left_index=True, right_index=True)

# calculate total number of reads per gene per condition
# print(df.loc[df.gid == 'ENSMUSG00000020167.13'])
temp = df.copy(deep=True)
temp.reset_index(drop=True, inplace=True)
totals = temp.groupby('gid').sum().reset_index()
# print(totals.head())

# merge back in 
df.reset_index(inplace=True)
df.rename({'index':'tid'}, axis=1, inplace=True)
df = df.merge(totals, on='gid', suffixes=(None, '_total'))
# print(df.head())
del totals

# calculate percent iso exp for each gene / transcript / condition
pi_cols = []
for c in conditions:
    cond_col = '{}_pi'.format(c)
    total_col = '{}_total'.format(c)
    df[cond_col] = (df[c]/df[total_col])*100
    pi_cols.append(cond_col)
    
# fill nans with 0 
df.fillna(0, inplace=True)
# print(df.head())
# 
# formatting
df.set_index('tid', inplace=True)
df = df[pi_cols]
for col in pi_cols:
    new_col = col[:-3]
    df.rename({col: new_col}, axis=1, inplace=True)
df = df.transpose()
# df.set_index('tid', inplace=True)

# reorder in sg.adata.var / sg.t_df order
df = df[sg.t_df.tid.tolist()]

Index(['ENCODE-mouseT000008451', 'ENCODE-mouseT000008453',
       'ENCODE-mouseT000008454', 'ENCODE-mouseT000008455',
       'ENCODE-mouseT000008456', 'ENCODE-mouseT000008457',
       'ENCODE-mouseT000008458', 'ENCODE-mouseT000008459',
       'ENSMUST00000020637.8', 'ENSMUST00000020741.10',
       'ENSMUST00000105344.6'],
      dtype='object', name='tid')

In [136]:
df.head()

tid,ENCODE-mouseT000008451,ENCODE-mouseT000008453,ENCODE-mouseT000008454,ENCODE-mouseT000008455,ENCODE-mouseT000008456,ENCODE-mouseT000008457,ENCODE-mouseT000008458,ENCODE-mouseT000008459,ENSMUST00000020637.8,ENSMUST00000020741.10,ENSMUST00000105344.6
D12,100.0,0.0,0.0,0.0,100.0,25.0,25.0,25.0,25.0,0.0,0.0
PB65_B017,100.0,50.0,100.0,100.0,0.0,0.0,0.0,0.0,0.0,50.0,0.0
PB65_B018,50.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.0

In [135]:
# make pi layer
sg.adata.layers['pi'] = df.to_numpy()

In [134]:
print(np.shape(df.to_numpy()))
print(np.shape(sg.adata.X))

(3, 11)
(3, 11)

In [130]:
# check that the orders are the same across t_df, new layer, and adata.obs
print(len(df.columns))
print(len(sg.adata.var.index.tolist()))
print(df.columns.tolist() == sg.adata.var.index.tolist())
print(df.columns.tolist())
print()
print(sg.adata.var.index.tolist())
print()
print(sg.t_df.index.tolist())
print(sg.adata.var.index.tolist()==sg.t_df.index.tolist())

11
11
True
['ENCODE-mouseT000008451', 'ENCODE-mouseT000008453', 'ENCODE-mouseT000008454', 'ENCODE-mouseT000008455', 'ENCODE-mouseT000008456', 'ENCODE-mouseT000008457', 'ENCODE-mouseT000008458', 'ENCODE-mouseT000008459', 'ENSMUST00000020637.8', 'ENSMUST00000020741.10', 'ENSMUST00000105344.6']

['ENCODE-mouseT000008451', 'ENCODE-mouseT000008453', 'ENCODE-mouseT000008454', 'ENCODE-mouseT000008455', 'ENCODE-mouseT000008456', 'ENCODE-mouseT000008457', 'ENCODE-mouseT000008458', 'ENCODE-mouseT000008459', 'ENSMUST00000020637.8', 'ENSMUST00000020741.10', 'ENSMUST00000105344.6']

['ENCODE-mouseT000008451', 'ENCODE-mouseT000008453', 'ENCODE-mouseT000008454', 'ENCODE-mouseT000008455', 'ENCODE-mouseT000008456', 'ENCODE-mouseT000008457', 'ENCODE-mouseT000008458', 'ENCODE-mouseT000008459', 'ENSMUST00000020637.8', 'ENSMUST00000020741.10', 'ENSMUST00000105344.6']
True

In [110]:
print(np.shape(sg.adata.var))
print(np.shape(sg.adata.X))
print(np.shape(sg.adata.obs))

(11, 1)
(3, 11)
(3, 3)

temp.X

#### test - add metadata one after another with dupe values, don't overwrite

In [2]:
sg = swan.SwanGraph()
# just gencode vM21 chr 11 and tcf3
gtf = 'data/chr11_and_Tcf3.gtf'
sg.add_annotation(gtf, verbose=True)
db = 'data/chr11_and_Tcf3_no_gname.db'
sg.add_transcriptome(db)
ab = 'data/chr11_and_Tcf3_talon_abundance.tsv'
sg.add_abundance(ab)
meta = 'data/chr11_and_Tcf3_metadata.tsv'
sg.add_metadata(meta)
meta = 'data/chr11_and_Tcf3_metadata_dupecols.tsv'
sg.add_metadata(meta, overwrite=False)

Adding annotation to the SwanGraph

Processing transcripts:  99%|█████████▉| 8400/8450 [00:02<00:00, 4166.37it/s]

Reindexing and sorting entries on genomic location...

Reindexing vertices: 100%|█████████▉| 50000/50074 [00:00<00:00, 970872.24it/s]
Reindexing edges:  98%|█████████▊| 49000/50074 [00:00<00:00, 628898.53it/s]
Reindexing transcripts:  99%|█████████▉| 8400/8450 [00:00<00:00, 147347.67it/s]

Annotation to the SwanGraph

Adding transcriptome to the SwanGraph

AnnData expects .obs.index to contain strings, but your first indices are: Int64Index([0, 1], dtype='int64'), …
AnnData expects .obs.index to contain strings, but your first indices are: Int64Index([0, 1], dtype='int64'), …

Adding abundance for datasets PB65_B017, PB65_B018, D12 to SwanGraph.

In [3]:
sg.adata.obs # clusters should be 1 and 2

             dataset cluster   sample cell_state
index
PB65_B017  PB65_B017       2  GM12878          M
PB65_B018  PB65_B018       2  GM12878          S
D12              D12       1     K562         G0

#### test - add metadata one after another with dupe values, overwrite

In [4]:
sg = swan.SwanGraph()
# just gencode vM21 chr 11 and tcf3
gtf = 'data/chr11_and_Tcf3.gtf'
sg.add_annotation(gtf, verbose=True)
db = 'data/chr11_and_Tcf3_no_gname.db'
sg.add_transcriptome(db)
ab = 'data/chr11_and_Tcf3_talon_abundance.tsv'
sg.add_abundance(ab)
meta = 'data/chr11_and_Tcf3_metadata.tsv'
sg.add_metadata(meta)
meta = 'data/chr11_and_Tcf3_metadata_dupecols.tsv'
sg.add_metadata(meta, overwrite=True)

Adding annotation to the SwanGraph

Processing transcripts:  99%|█████████▉| 8400/8450 [00:01<00:00, 4455.59it/s]

Reindexing and sorting entries on genomic location...

Reindexing vertices: 100%|█████████▉| 50000/50074 [00:00<00:00, 1261475.16it/s]
Reindexing edges:  98%|█████████▊| 49000/50074 [00:00<00:00, 685053.67it/s]
Reindexing transcripts:  99%|█████████▉| 8400/8450 [00:00<00:00, 155110.70it/s]

Annotation to the SwanGraph

Adding transcriptome to the SwanGraph

AnnData expects .obs.index to contain strings, but your first indices are: Int64Index([0, 1], dtype='int64'), …
AnnData expects .obs.index to contain strings, but your first indices are: Int64Index([0, 1], dtype='int64'), …

Adding abundance for datasets PB65_B017, PB65_B018, D12 to SwanGraph.

In [5]:
sg.adata.obs # clusters should be 3 and 4 now

             dataset   sample cell_state cluster
index
PB65_B017  PB65_B017  GM12878          M       3
PB65_B018  PB65_B018  GM12878          S       4
D12              D12     K562         G0       3

#### test - add metadata one after another to obs table

In [6]:
a = ['dataset', 'beep']
b = ['beep', 'bop', 'dataset']
sg_cols = list(set(a)-set(['dataset']))
meta_cols = list(set(b)-set(['dataset']))
print(sg_cols) # should be ['beep']
print(meta_cols) # should be ['beep', 'bop']
dupe_cols = [c for c in meta_cols if c in sg_cols]
print(dupe_cols) # should be ['beep']

['beep']
['bop', 'beep']
['beep']

In [7]:
sg = swan.SwanGraph()
# just gencode vM21 chr 11 and tcf3
gtf = 'data/chr11_and_Tcf3.gtf'
sg.add_annotation(gtf, verbose=True)
db = 'data/chr11_and_Tcf3_no_gname.db'
sg.add_transcriptome(db)
ab = 'data/chr11_and_Tcf3_talon_abundance.tsv'
sg.add_abundance(ab)
meta = 'data/chr11_and_Tcf3_metadata.tsv'
sg.add_metadata(meta)
meta = 'data/chr11_and_Tcf3_metadata_2.tsv'
sg.add_metadata(meta)

Adding annotation to the SwanGraph

Processing transcripts:  99%|█████████▉| 8400/8450 [00:01<00:00, 4469.69it/s]

Reindexing and sorting entries on genomic location...

Reindexing vertices: 100%|█████████▉| 50000/50074 [00:00<00:00, 1200657.25it/s]
Reindexing edges:  98%|█████████▊| 49000/50074 [00:00<00:00, 286162.69it/s]
Reindexing transcripts:  99%|█████████▉| 8400/8450 [00:00<00:00, 148394.65it/s]

Annotation to the SwanGraph

Adding transcriptome to the SwanGraph

AnnData expects .obs.index to contain strings, but your first indices are: Int64Index([0, 1], dtype='int64'), …
AnnData expects .obs.index to contain strings, but your first indices are: Int64Index([0, 1], dtype='int64'), …

Adding abundance for datasets PB65_B017, PB65_B018, D12 to SwanGraph.

In [8]:
sg.adata.obs

             dataset cluster   sample cell_state
index
PB65_B017  PB65_B017       2  GM12878          M
PB65_B018  PB65_B018       2  GM12878          S
D12              D12       1     K562         G0

#### test - add metadata to obs table

In [11]:
df = pd.read_csv(meta, sep='\t')
sg.adata.obs = sg.adata.obs.merge(df, how='left', on='dataset')

AnnData expects .obs.index to contain strings, but your first indices are: Int64Index([0, 1], dtype='int64'), …

In [13]:
sg = swan.SwanGraph()
# just gencode vM21 chr 11 and tcf3
gtf = 'data/chr11_and_Tcf3.gtf'
sg.add_annotation(gtf, verbose=True)
db = 'data/chr11_and_Tcf3_no_gname.db'
sg.add_transcriptome(db)
ab = 'data/chr11_and_Tcf3_talon_abundance.tsv'
sg.add_abundance(ab)
meta = 'data/chr11_and_Tcf3_metadata.tsv'
sg.add_metadata(meta)

Adding annotation to the SwanGraph

Processing transcripts:  99%|█████████▉| 8400/8450 [00:01<00:00, 4477.48it/s]

Reindexing and sorting entries on genomic location...

Reindexing vertices: 100%|█████████▉| 50000/50074 [00:00<00:00, 1256133.16it/s]
Reindexing edges:  98%|█████████▊| 49000/50074 [00:00<00:00, 676068.92it/s]
Reindexing transcripts:  99%|█████████▉| 8400/8450 [00:00<00:00, 132285.60it/s]

Annotation to the SwanGraph

Adding transcriptome to the SwanGraph

AnnData expects .obs.index to contain strings, but your first indices are: Int64Index([0, 1], dtype='int64'), …

Adding abundance for datasets PB65_B017, PB65_B018, D12 to SwanGraph.

In [14]:
sg.adata.obs

             dataset cluster   sample
index
PB65_B017  PB65_B017       2  GM12878
PB65_B018  PB65_B018       2  GM12878
D12              D12       1     K562

#### test - add abundance directly from TALON ab file

In [2]:
sg = swan.SwanGraph()
# just gencode vM21 chr 11 and tcf3
gtf = 'data/chr11_and_Tcf3.gtf'
sg.add_annotation(gtf, verbose=True)
db = 'data/chr11_and_Tcf3_no_gname.db'
sg.add_transcriptome(db)
ab = 'data/chr11_and_Tcf3_talon_abundance.tsv'
sg.add_abundance(ab)

Adding annotation to the SwanGraph

Processing transcripts:  99%|█████████▉| 8400/8450 [00:01<00:00, 4307.46it/s]

Reindexing and sorting entries on genomic location...

Reindexing vertices: 100%|█████████▉| 50000/50074 [00:00<00:00, 969933.77it/s]
Reindexing edges:  98%|█████████▊| 49000/50074 [00:00<00:00, 633928.53it/s]
Reindexing transcripts:  99%|█████████▉| 8400/8450 [00:00<00:00, 151474.25it/s]

Annotation to the SwanGraph

Adding transcriptome to the SwanGraph
['gene_ID', 'transcript_ID', 'annot_gene_id', 'annot_transcript_id', 'annot_gene_name', 'annot_transcript_name', 'n_exons', 'length', 'gene_novelty', 'transcript_novelty', 'ISM_subtype']
['gene_ID', 'transcript_ID', 'annot_gene_id', 'annot_transcript_id', 'annot_gene_name', 'annot_transcript_name', 'n_exons', 'length', 'gene_novelty', 'transcript_novelty', 'ISM_subtype']
hewwo?

Adding abundance for datasets PB65_B017, PB65_B018, D12 to SwanGraph.

In [5]:
sg.adata.layers['counts'][:5, :5]

array([[1., 1., 1., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1.]], dtype=float32)

#### test - reformat talon ab

In [2]:
ab = 'data/chr11_and_Tcf3_talon_abundance.tsv'
new_ab = 'data/chr11_and_Tcf3_swan_abundance.tsv'
swan.reformat_talon_abundance(ab, new_ab)

#### test - add transcriptome from db and abundance from tsv

In [12]:
sg = swan.SwanGraph()
# just gencode vM21 chr 11 and tcf3
gtf = 'data/chr11_and_Tcf3.gtf'
sg.add_annotation(gtf, verbose=True)
db = 'data/chr11_and_Tcf3_no_gname.db'
sg.add_transcriptome(db)
new_ab = 'data/chr11_and_Tcf3_swan_abundance.tsv'
sg.add_abundance(new_ab)

Adding annotation to the SwanGraph

Processing transcripts:  99%|█████████▉| 8400/8450 [00:01<00:00, 4438.75it/s]

Reindexing and sorting entries on genomic location...

Reindexing vertices: 100%|█████████▉| 50000/50074 [00:00<00:00, 1183494.36it/s]
Reindexing edges:  98%|█████████▊| 49000/50074 [00:00<00:00, 515513.75it/s]
Reindexing transcripts:  99%|█████████▉| 8400/8450 [00:00<00:00, 112191.45it/s]

Annotation to the SwanGraph

Adding transcriptome to the SwanGraph

Adding abundance for datasets PB65_B017, PB65_B018, D12 to SwanGraph.

In [19]:
sg.t_df.head()

,tid,tname,gid,gname,path,annotation,novelty
tid,,,,,,,
ENST00000023939.8,ENST00000023939.8,RTF2-201,ENSG00000022277.12,RTF2,"[9022, 9029, 9035, 9036, 9037, 9039, 9040, 904...",True,Known
ENST00000045083.6,ENST00000045083.6,RIPOR3-201,ENSG00000042062.11,RIPOR3,"[13836, 13837, 13838, 13839, 13840, 13841, 138...",True,Known
ENST00000062104.3,ENST00000062104.3,NNAT-201,ENSG00000053438.9,NNAT,"[5907, 5912, 5913, 5916, 5918, 5923]",True,Known
ENST00000064571.2,ENST00000064571.2,CBLN4-201,ENSG00000054803.3,CBLN4,"[13398, 13399, 13400, 13401, 13402, 13403]",True,Known
ENST00000170150.3,ENST00000170150.3,BPIFB2-201,ENSG00000078898.6,BPIFB2,"[4157, 4159, 4163, 4166, 4168, 4170, 4172, 417...",True,Known

In [15]:
sg.adata.obs.head()

             dataset
PB65_B017  PB65_B017
PB65_B018  PB65_B018
D12              D12

In [4]:
sg.adata.X[:5, :5]

array([[1., 1., 1., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1.]], dtype=float32)

#### test - add transcriptome from db

In [2]:
sg = swan.SwanGraph()
# just gencode vM21 chr 11 and tcf3
gtf = 'data/chr11_and_Tcf3.gtf'
sg.add_annotation(gtf, verbose=True)
db = 'data/chr11_and_Tcf3_no_gname.db'
sg.add_transcriptome(db)

Adding annotation to the SwanGraph

Processing transcripts:  99%|█████████▉| 8400/8450 [00:01<00:00, 4304.85it/s]

Reindexing and sorting entries on genomic location...

Reindexing vertices: 100%|█████████▉| 50000/50074 [00:00<00:00, 968388.58it/s]
Reindexing edges:  98%|█████████▊| 49000/50074 [00:00<00:00, 579532.86it/s]
Reindexing transcripts:  99%|█████████▉| 8400/8450 [00:00<00:00, 146771.90it/s]

Annotation to the SwanGraph

Adding transcriptome to the SwanGraph

#### test - add some abundance and then more abundance

In [2]:
sg = swan.SwanGraph()
# just chr 20
gtf = 'data/gencode.v29.annotation.gtf'
sg.add_annotation(gtf)
# transcriptome
gtf = 'data/hepg2_1_talon.gtf'
sg.add_transcriptome(gtf)
# abundance - hffc6 and hepg2
ab = 'data/all_talon_abundance_filtered_counts_hffc6_hepg2.tsv'
sg.add_abundance(ab)
ab = 'data/all_talon_abundance_filtered_counts_k562.tsv'
sg.add_abundance(ab)

Adding annotation to the SwanGraph

Adding transcriptome to the SwanGraph

Adding abundance for datasets hepg2_1_chr20, hepg2_2_chr20, hffc6_1_chr20, hffc6_2_chr20, hffc6_3_chr20 to SwanGraph.

Adding abundance for datasets k562_1_chr20, k562_2_chr20 to SwanGraph.
(2, 4555)
(7, 4555)
(2, 4555)
(7, 4555)
2
7

In [3]:
sg.adata.layers.keys()

KeysView(Layers with keys: counts, tpm, pi)

In [17]:
sg.adata.obs

                     dataset
hepg2_1_chr20  hepg2_1_chr20
hepg2_2_chr20  hepg2_2_chr20
hffc6_1_chr20  hffc6_1_chr20
hffc6_2_chr20  hffc6_2_chr20
hffc6_3_chr20  hffc6_3_chr20
k562_1_chr20    k562_1_chr20
k562_2_chr20    k562_2_chr20

In [18]:
sg.adata.var.head()

                                 tid
tid
ENST00000023939.8  ENST00000023939.8
ENST00000045083.6  ENST00000045083.6
ENST00000062104.3  ENST00000062104.3
ENST00000064571.2  ENST00000064571.2
ENST00000170150.3  ENST00000170150.3

In [7]:
sg.adata.X[:, :5]

array([[  0.,   0.,   0.,   0., 847.],
       [  0.,   0.,   0.,   0., 800.],
       [  2.,   0.,   0.,   0.,   0.],
       [  2.,   0.,   0.,   0.,   0.],
       [  2.,   0.,   0.,   0.,   0.],
       [  1.,   0.,   0.,   0.,   0.],
       [  1.,   0.,   0.,   0.,   0.]], dtype=float32)

In [8]:
sg.adata.layers['tpm'][:, :5]

KeyError: 'tpm'

In [ ]:
sg.adata.obs.head()

#### test - add abundance when trying to add more datasests that are already there

In [2]:
sg = swan.SwanGraph()

In [3]:
# just chr 20
gtf = 'data/gencode.v29.annotation.gtf'
sg.add_annotation(gtf)

Adding annotation to the SwanGraph

In [4]:
# transcriptome
gtf = 'data/hepg2_1_talon.gtf'
sg.add_transcriptome(gtf)

Adding transcriptome to the SwanGraph

In [5]:
# abundance
ab = 'data/all_talon_abundance_filtered_counts.tsv'
sg.add_abundance(ab)

Adding abundance for datasets hepg2_1_chr20, hepg2_2_chr20, hffc6_1_chr20, hffc6_2_chr20, hffc6_3_chr20... (and 2 more) to SwanGraph

In [26]:
for i in sg.adata.layers.keys():
    print(i)

counts
tpm

In [13]:
# abundance
ab = 'data/all_talon_abundance_filtered_counts.tsv'
sg.add_abundance(ab)

Transcripts absent from abundance file will be assigned 0 counts.
Transcripts found in abundance matrix that are not in the SwanGraph will not have expression added.

ValueError: Dataset hepg2_1_chr20 already present in the SwanGraph.

In [ ]:
sg.adata.X[:5,:5]

In [5]:
sg.t_df.head()

,tid,tname,gid,gname,path,annotation,novelty
tid,,,,,,,
ENST00000023939.8,ENST00000023939.8,RTF2-201,ENSG00000022277.12,RTF2,"[9022, 9029, 9035, 9036, 9037, 9039, 9040, 904...",True,Known
ENST00000045083.6,ENST00000045083.6,RIPOR3-201,ENSG00000042062.11,RIPOR3,"[13836, 13837, 13838, 13839, 13840, 13841, 138...",True,Known
ENST00000062104.3,ENST00000062104.3,NNAT-201,ENSG00000053438.9,NNAT,"[5907, 5912, 5913, 5916, 5918, 5923]",True,Known
ENST00000064571.2,ENST00000064571.2,CBLN4-201,ENSG00000054803.3,CBLN4,"[13398, 13399, 13400, 13401, 13402, 13403]",True,Known
ENST00000170150.3,ENST00000170150.3,BPIFB2-201,ENSG00000078898.6,BPIFB2,"[4157, 4159, 4163, 4166, 4168, 4170, 4172, 417...",True,Known

In [8]:
sg.t_df.loc[sg.t_df.annotation==False].head()

,tid,tname,gid,gname,path,annotation,novelty
tid,,,,,,,
TALONT000005280,TALONT000005280,TALONT000005280,ENSG00000198171.12,DDRGK1,"[21055, 21057, 21059, 21061, 21063, 21065, 210...",False,NNC
TALONT000005555,TALONT000005555,TALONT000005555,ENSG00000125779.22,PANK2,"[1020, 1022, 1038, 1040, 1045, 1048, 1050, 105...",False,NIC
TALONT000005727,TALONT000005727,TALONT000005727,ENSG00000089063.14,TMEM230,"[20569, 20572, 20586, 20588, 20592, 20594, 205...",False,NNC
TALONT000006405,TALONT000006405,TALONT000006405,ENSG00000125868.15,DSTN,"[2138, 2142, 2146, 2148, 2151, 2153, 2157, 2160]",False,NNC
TALONT000006566,TALONT000006566,TALONT000006566,ENSG00000089006.16,SNX5,"[19444, 19447, 19456, 19458, 19472, 19477, 194...",False,NIC

In [7]:
sg.t_df.loc[sg.t_df.novelty!=False]

,tid,tname,gid,gname,path,annotation,novelty
tid,,,,,,,
ENST00000023939.8,ENST00000023939.8,RTF2-201,ENSG00000022277.12,RTF2,"[9022, 9029, 9035, 9036, 9037, 9039, 9040, 904...",True,Known
ENST00000045083.6,ENST00000045083.6,RIPOR3-201,ENSG00000042062.11,RIPOR3,"[13836, 13837, 13838, 13839, 13840, 13841, 138...",True,Known
ENST00000062104.3,ENST00000062104.3,NNAT-201,ENSG00000053438.9,NNAT,"[5907, 5912, 5913, 5916, 5918, 5923]",True,Known
ENST00000064571.2,ENST00000064571.2,CBLN4-201,ENSG00000054803.3,CBLN4,"[13398, 13399, 13400, 13401, 13402, 13403]",True,Known
ENST00000170150.3,ENST00000170150.3,BPIFB2-201,ENSG00000078898.6,BPIFB2,"[4157, 4159, 4163, 4166, 4168, 4170, 4172, 417...",True,Known
...,...,...,...,...,...,...,...
TALONT000013657,TALONT000013657,TALONT000013657,ENSG00000101187.15,SLCO4A1,"[10403, 10405, 10408, 10412, 10421, 10424, 104...",False,NIC
TALONT000013998,TALONT000013998,TALONT000013998,ENSG00000101246.19,ARFRP1,"[11745, 11747, 11754, 11756, 11759, 11761, 117...",False,NIC
TALONT000014162,TALONT000014162,TALONT000014162,ENSG00000198276.15,UCKL1,"[11635, 11639, 11645, 11649, 11651, 11653, 116...",False,NNC
TALONT000014163,TALONT000014163,TALONT000014163,ENSG00000198276.15,UCKL1,"[11635, 11639, 11646, 11649, 11651, 11653, 116...",False,NNC
TALONT000014329,TALONT000014329,TALONT000014329,ENSG00000196421.8,C20orf204,"[11342, 11344, 11346, 11352, 11355, 11357]",False,NIC

In [6]:
sg.edge_df.head()

        edge_type strand  v1  v2 edge_id
edge_id
(0, 1)       exon      +   0   1  (0, 1)
(1, 4)     intron      +   1   4  (1, 4)
(2, 3)       exon      +   2   3  (2, 3)
(3, 4)     intron      +   3   4  (3, 4)
(4, 5)       exon      +   4   5  (4, 5)

In [7]:
sg.loc_df.head()

           chrom  coord strand  vertex_id    TSS    TES  internal
vertex_id
0          chr20  87250      +          0   True  False     False
1          chr20  87359      +          1  False  False      True
2          chr20  87710      +          2   True  False     False
3          chr20  87767      +          3  False  False      True
4          chr20  96005      +          4  False  False      True

In [9]:
sg.t_df.head()

,tid,tname,gid,gname,path,annotation,novelty
tid,,,,,,,
ENST00000023939.8,ENST00000023939.8,RTF2-201,ENSG00000022277.12,RTF2,"[9022, 9029, 9035, 9036, 9037, 9039, 9040, 904...",True,Known
ENST00000045083.6,ENST00000045083.6,RIPOR3-201,ENSG00000042062.11,RIPOR3,"[13836, 13837, 13838, 13839, 13840, 13841, 138...",True,Known
ENST00000062104.3,ENST00000062104.3,NNAT-201,ENSG00000053438.9,NNAT,"[5907, 5912, 5913, 5916, 5918, 5923]",True,Known
ENST00000064571.2,ENST00000064571.2,CBLN4-201,ENSG00000054803.3,CBLN4,"[13398, 13399, 13400, 13401, 13402, 13403]",True,Known
ENST00000170150.3,ENST00000170150.3,BPIFB2-201,ENSG00000078898.6,BPIFB2,"[4157, 4159, 4163, 4166, 4168, 4170, 4172, 417...",True,Known

In [9]:
df = pd.read_csv('data/all_talon_abundance_filtered_counts.tsv', sep='\t')

# rename first column 
col = df.columns[0]
df.rename({col: 'tid'}, axis=1, inplace=True)

In [29]:
import numpy as np

In [8]:
df.loc[df.tid.isin(list(set(ab_tids)-set(sg_tids)))]

NameError: name 'ab_tids' is not defined

In [10]:
# limit to just the transcripts already in the graph
sg_tids = sg.t_df.tid.tolist()
ab_tids = df.tid.tolist()

if len(set(sg_tids)-set(ab_tids)) != 0:
    print('Transcripts absent from abundance file will be assigned 0 counts.')
if len(set(ab_tids)-set(sg_tids)) != 0:
    print('Transcripts found in abundance matrix that are not in the SwanGraph will not have expression added.')

    
# right merge to keep everything in the t_df already
df = df.merge(sg.t_df['tid'].to_frame(), how='right', left_on='tid', right_index=True)
df.drop(['tid_x', 'tid_y'], axis=1, inplace=True)

Transcripts absent from abundance file will be assigned 0 counts.
Transcripts found in abundance matrix that are not in the SwanGraph will not have expression added.

In [12]:
df.fillna(0, inplace=True)
df.set_index('tid', inplace=True)

In [30]:
tpm_df = df.index.to_frame()
tpm_df.head()
for c in df.columns.tolist():
    total_counts = df[c].sum()    
    tpm_df[c] = (df[c]*1000000)/total_counts
tpm_df.drop('tid', axis=1, inplace=True)
tpm_df = tpm_df.T
tpm_X = tpm_df.to_numpy()
print(np.shape(tpm_X))

(7, 4555)

In [31]:
tpm_df.head()

tid,ENST00000023939.8,ENST00000045083.6,ENST00000062104.3,ENST00000064571.2,ENST00000170150.3,ENST00000190983.4,ENST00000191018.9,ENST00000201031.2,ENST00000201961.6,ENST00000201963.3,...,TALONT000013147,TALONT000013148,TALONT000013454,TALONT000013557,TALONT000013655,TALONT000013657,TALONT000013998,TALONT000014162,TALONT000014163,TALONT000014329
hepg2_1_chr20,0.000000,0.0,0.0,0.0,53914.704010,0.0,254.614895,0.000000,0.0,0.0,...,572.883514,381.922342,891.152132,700.190961,700.190961,381.922342,572.883514,1145.767027,1082.113304,318.268619
hepg2_2_chr20,0.000000,0.0,0.0,0.0,29204.541306,0.0,255.539736,0.000000,0.0,0.0,...,985.653269,292.045413,985.653269,511.079473,365.056766,401.562443,876.136239,2190.340598,876.136239,328.551090
hffc6_1_chr20,130.182907,0.0,0.0,0.0,0.000000,0.0,325.457267,0.000000,0.0,0.0,...,325.457267,130.182907,1236.737616,520.731628,0.000000,0.000000,1497.103430,585.823081,65.091453,0.000000
hffc6_2_chr20,107.717994,0.0,0.0,0.0,0.000000,0.0,592.448969,161.576991,0.0,0.0,...,107.717994,107.717994,969.461949,377.012980,0.000000,0.000000,969.461949,1023.320946,377.012980,0.000000
hffc6_3_chr20,138.504155,0.0,0.0,0.0,0.000000,0.0,900.277008,0.000000,0.0,0.0,...,415.512465,138.504155,1038.781163,277.008310,0.000000,0.000000,1177.285319,900.277008,346.260388,0.000000

In [32]:
df.head()

,hepg2_1_chr20,hepg2_2_chr20,hffc6_1_chr20,hffc6_2_chr20,hffc6_3_chr20,k562_1_chr20,k562_2_chr20
tid,,,,,,,
ENST00000023939.8,0.0,0.0,2.0,2.0,2.0,1.0,1.0
ENST00000045083.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENST00000062104.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENST00000064571.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENST00000170150.3,847.0,800.0,0.0,0.0,0.0,0.0,0.0

In [33]:

df = df.T

In [34]:
df.head()

tid,ENST00000023939.8,ENST00000045083.6,ENST00000062104.3,ENST00000064571.2,ENST00000170150.3,ENST00000190983.4,ENST00000191018.9,ENST00000201031.2,ENST00000201961.6,ENST00000201963.3,...,TALONT000013147,TALONT000013148,TALONT000013454,TALONT000013557,TALONT000013655,TALONT000013657,TALONT000013998,TALONT000014162,TALONT000014163,TALONT000014329
hepg2_1_chr20,0.0,0.0,0.0,0.0,847.0,0.0,4.0,0.0,0.0,0.0,...,9.0,6.0,14.0,11.0,11.0,6.0,9.0,18.0,17.0,5.0
hepg2_2_chr20,0.0,0.0,0.0,0.0,800.0,0.0,7.0,0.0,0.0,0.0,...,27.0,8.0,27.0,14.0,10.0,11.0,24.0,60.0,24.0,9.0
hffc6_1_chr20,2.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,5.0,2.0,19.0,8.0,0.0,0.0,23.0,9.0,1.0,0.0
hffc6_2_chr20,2.0,0.0,0.0,0.0,0.0,0.0,11.0,3.0,0.0,0.0,...,2.0,2.0,18.0,7.0,0.0,0.0,18.0,19.0,7.0,0.0
hffc6_3_chr20,2.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,...,6.0,2.0,15.0,4.0,0.0,0.0,17.0,13.0,5.0,0.0

In [35]:
var = df.columns.to_frame()
var.columns = ['tid']
var.head()

                                 tid
tid
ENST00000023939.8  ENST00000023939.8
ENST00000045083.6  ENST00000045083.6
ENST00000062104.3  ENST00000062104.3
ENST00000064571.2  ENST00000064571.2
ENST00000170150.3  ENST00000170150.3

In [36]:
for v in var.tid.tolist()[:5]:
    print(v)

ENST00000023939.8
ENST00000045083.6
ENST00000062104.3
ENST00000064571.2
ENST00000170150.3

In [37]:
obs = df.index.to_frame()
obs.columns = ['dataset']
obs.head()

                     dataset
hepg2_1_chr20  hepg2_1_chr20
hepg2_2_chr20  hepg2_2_chr20
hffc6_1_chr20  hffc6_1_chr20
hffc6_2_chr20  hffc6_2_chr20
hffc6_3_chr20  hffc6_3_chr20

In [38]:
for o in obs.dataset.tolist()[:5]:
    print(o)

hepg2_1_chr20
hepg2_2_chr20
hffc6_1_chr20
hffc6_2_chr20
hffc6_3_chr20

In [39]:
sg.datasets.extend(obs.dataset.tolist())

In [40]:
sg.datasets

['hepg2_1_chr20',
 'hepg2_2_chr20',
 'hffc6_1_chr20',
 'hffc6_2_chr20',
 'hffc6_3_chr20',
 'k562_1_chr20',
 'k562_2_chr20',
 'hepg2_1_chr20',
 'hepg2_2_chr20',
 'hffc6_1_chr20',
 'hffc6_2_chr20',
 'hffc6_3_chr20',
 'k562_1_chr20',
 'k562_2_chr20']

In [41]:
X = df.to_numpy()

In [42]:
adata = anndata.AnnData(obs=obs, var=var, X=X)

In [45]:
adata.obs

                     dataset
hepg2_1_chr20  hepg2_1_chr20
hepg2_2_chr20  hepg2_2_chr20
hffc6_1_chr20  hffc6_1_chr20
hffc6_2_chr20  hffc6_2_chr20
hffc6_3_chr20  hffc6_3_chr20
k562_1_chr20    k562_1_chr20
k562_2_chr20    k562_2_chr20

In [46]:
adata.var.head()

                                 tid
tid
ENST00000023939.8  ENST00000023939.8
ENST00000045083.6  ENST00000045083.6
ENST00000062104.3  ENST00000062104.3
ENST00000064571.2  ENST00000064571.2
ENST00000170150.3  ENST00000170150.3

In [47]:
sg.adata = adata

In [48]:
X[:5, :5]

array([[  0.,   0.,   0.,   0., 847.],
       [  0.,   0.,   0.,   0., 800.],
       [  2.,   0.,   0.,   0.,   0.],
       [  2.,   0.,   0.,   0.,   0.],
       [  2.,   0.,   0.,   0.,   0.]])

In [49]:
var[:5]

                                 tid
tid
ENST00000023939.8  ENST00000023939.8
ENST00000045083.6  ENST00000045083.6
ENST00000062104.3  ENST00000062104.3
ENST00000064571.2  ENST00000064571.2
ENST00000170150.3  ENST00000170150.3

In [50]:
obs[:5]

                     dataset
hepg2_1_chr20  hepg2_1_chr20
hepg2_2_chr20  hepg2_2_chr20
hffc6_1_chr20  hffc6_1_chr20
hffc6_2_chr20  hffc6_2_chr20
hffc6_3_chr20  hffc6_3_chr20

In [51]:
df.head()

tid,ENST00000023939.8,ENST00000045083.6,ENST00000062104.3,ENST00000064571.2,ENST00000170150.3,ENST00000190983.4,ENST00000191018.9,ENST00000201031.2,ENST00000201961.6,ENST00000201963.3,...,TALONT000013147,TALONT000013148,TALONT000013454,TALONT000013557,TALONT000013655,TALONT000013657,TALONT000013998,TALONT000014162,TALONT000014163,TALONT000014329
hepg2_1_chr20,0.0,0.0,0.0,0.0,847.0,0.0,4.0,0.0,0.0,0.0,...,9.0,6.0,14.0,11.0,11.0,6.0,9.0,18.0,17.0,5.0
hepg2_2_chr20,0.0,0.0,0.0,0.0,800.0,0.0,7.0,0.0,0.0,0.0,...,27.0,8.0,27.0,14.0,10.0,11.0,24.0,60.0,24.0,9.0
hffc6_1_chr20,2.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,5.0,2.0,19.0,8.0,0.0,0.0,23.0,9.0,1.0,0.0
hffc6_2_chr20,2.0,0.0,0.0,0.0,0.0,0.0,11.0,3.0,0.0,0.0,...,2.0,2.0,18.0,7.0,0.0,0.0,18.0,19.0,7.0,0.0
hffc6_3_chr20,2.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,...,6.0,2.0,15.0,4.0,0.0,0.0,17.0,13.0,5.0,0.0

In [52]:
sg.adata.X[:5,:5]

array([[  0.,   0.,   0.,   0., 847.],
       [  0.,   0.,   0.,   0., 800.],
       [  2.,   0.,   0.,   0.,   0.],
       [  2.,   0.,   0.,   0.,   0.],
       [  2.,   0.,   0.,   0.,   0.]], dtype=float32)

In [54]:
sg.adata.layers['tpm'] = tpm_X

In [55]:
sg.adata.X = sg.adata.layers['tpm']
sg.adata.X[:5,:5]

array([[    0.        ,     0.        ,     0.        ,     0.        ,
        53914.70401018],
       [    0.        ,     0.        ,     0.        ,     0.        ,
        29204.54130617],
       [  130.18290698,     0.        ,     0.        ,     0.        ,
            0.        ],
       [  107.71799429,     0.        ,     0.        ,     0.        ,
            0.        ],
       [  138.50415512,     0.        ,     0.        ,     0.        ,
            0.        ]])